<%- include("../partials/html-head") %>

<link rel="stylesheet" href="/stylesheets/index.css" />

<%- include("../partials/nav") %>

  <container>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline:</th>
        <th>Airport:</th>
        <th>Flight No.:</th>
        <th>Departure</th>
      </tr>
    </thead>
    <tbody>
      <% allFlights.forEach(f => { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td>
            <a href="/flights/<%=f._id %>">
              <button>Details</button>
            </a>
          </td>
          <td>
            <form action="/flights/<%= f._id %>?_method=DELETE" method="POST">
              <button>Cancel</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
  </table>
  </container>

  <%- include("../partials/footer") %>
