<%- include("../partials/html-head") %>

<link rel="stylesheet" href="/stylesheets/style.css"/>

<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline:</div>
    <div>
      <%= flight.airline %>
      <!-- <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button> -->
      </a>
    </div>
    <div>Airport:</div>
    <div><%= flight.airport %>></div>
    <div>Flight No.:</div>
    <div><%= flight.flightNo %></div>
    <div>Departure:</div>
    <div><%= flight.departs %>></div>
    <a href="/flights/<%= flight._id %>/addTicket/new" method="GET">
        Add Ticket
      </a>
    </form>
  </section>

</main>

<%- include("../partials/footer") %>