<%- include("../partials/html-head") %>

<link rel="stylesheet" href="/stylesheets/style.css"/>

<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline:</div>
    <div>
      <%= flight.airline %>
      <!-- <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button> -->
      </a>
    </div>
    <div>Airport:</div>
    <div><%= flight.airport %>></div>
    <div>Flight No.:</div>
    <div><%= flight.flightNo %></div>
    <div>Departure:</div>
    <div><%= flight.departs %>></div>
    <button><a href="/flights/<%= flight._id %>/addTicket/new" method="GET">
        Add Ticket
    </button></a>
    </form>
  </section>



  <% if (flight.ticket.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.ticket.forEach(function(tickets) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No ticket info added</h3>
  <% } %>
</main>

<%- include("../partials/footer") %>