<%- include("../partials/html-head") %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@519&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/show.css"/>

<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <div id="details">
  <section>
    <div class="title">Airline</div>
    <div class="input">
      <%= flight.airline %>
      </a>
    </div>
    <div class="title">Airport</div>
    <div class="input"><%= flight.airport %></div>
    <div class="title">Flight Number</div>
    <div class="input"><%= flight.flightNo %></div>
    <div class="title">Departure</div>
    <div class="input"><%= flight.departs %>></div>
    </form>
  </section>
  </div>



      <form 
      id="add-ticket-form"
      action="/flights/<%= flight._id %>/ticket"
      method="POST">
        <label>Seat:
          <input type="text" name="seat" placeholder="[A-F]+[1-99]" required pattern="[A-F][1-9]\d?"/>
        </label></br>
        <label>Price:
          <input type="number" min="0" name="price"/>
        </label></br>
        <button type="submit">Add Ticket</button>
      </form>
  



  <% if (flight.ticket.length) { %>
    <table>
      <thead>
        <tr>
          <th><u>Seat</u></th>
          <th><u>Price</u></th>
        </tr>
      </thead>

      <tbody>
        <% flight.ticket.forEach(function(tickets) { %>
          <tr>
            <td><%= tickets.seat %></td>
            <td>$<%= tickets.price %></td>
            <td>
              <form action="/flights/<%= flight._id%>/<%= tickets._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No ticket info added</h3>
  <% } %>

</main>

<%- include("../partials/footer") %>